{% extends "::backend.html.twig" %}
{% form_theme form with 'LsCoreBundle:Backend:fields.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Błąd!</strong> {{ flashMessage }}
                    {{ form_errors(form.name) }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Sukces!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
            <a href="{{ path('ls_admin_order') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-list"></i>
                Powrót do listy
            </a>
        </div>
    </div>
            
    <div class="row clearfix">
        {{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
            <ul class="nav nav-tabs pills">
                <li class="active">
                    <a data-toggle="tab" href="#tab-ustawienia">Treść</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab-pliki">Pliki</a>
                </li>
            </ul>
            <div style="border-top: 1px solid #ddd; margin-bottom: 15px;"></div>
            <div class="form-group">
            <div class="col-xs-12">
                <div class="tab-content" style="margin-top: 15px;">
                    <div id="tab-ustawienia" class="tab-pane active">
                        <h2 class="class">Edycja zamówienia: <strong>{{ entity.name }}</strong></h2>
                        <div class="form-group {% if form.name.vars.errors|length %} has-error has-feedback{% endif %}">
                            {{ form_label(form.name, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control' }}) }}
                                {% if form.name.vars.errors|length %}
                                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.clientemail, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.clientemail, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.content, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.content, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.kind, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.kind, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.status, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.status, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>
                    </div>
                    <div id="tab-pliki" class="tab-pane">
                        <h2 class="class">Pliki zamówienia: <strong>{{ entity.name }}</strong></h2>
                        {% if files is not empty %}
                            <div class="panel panel-default table-responsive">
                                <table class="table table-bordered table-striped">
                                    <tbody>
                                        <tr>
                                            <td class="col-sm-9"><strong>Nazwa</strong></td>
                                            <td class="col-sm-9"><strong>Data zapisu</strong></td>
                                            <td class="col-sm-9"><strong>Opcje</strong></td>

                                        </tr>
                                        {% for file in files %}
                                            <tr>
                                                <td class="col-sm-9">{{ file.name }}</td>
                                                <td class="col-sm-9">{{ file.createdat|localizeddate('long', 'medium') }}</td>
                                                <td class="text-right opcje">
                                                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                                        <a href="{{ file.getFileWebPath() }}" title="Pobierz" target="_blank">
                                                            <i class="glyphicon glyphicon-download"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% else %}
                            <em>Brak plików</em>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-offset-3 col-sm-9">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
                    {{ form_widget(form.submit_and_list, {'attr': {'class': 'btn btn-default' }}) }}
                </div>
            </div>
        {{ form_end(form) }}
        </div>
    </div>
{% endblock %}