{% extends '::backend.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
            <a href="{{ path('ls_admin_order') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-list"></i>
                Powrót do listy
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2 class="class">Szczegóły zamówienia: <strong>{{ entity.name }}</strong></h2>
            <div class="panel panel-default table-responsive">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td class="col-sm-3"><strong>Data wysłania</strong></td>
                            <td class="col-sm-9">{{ entity.createdat|localizeddate('long', 'medium') }}</td>
                        </tr>
                        <tr>
                            <td class="col-sm-3"><strong>Typ dokumentu</strong></td>
                            <td class="col-sm-9">{{ entity.types }}</td>
                        </tr>
                        <tr>
                            <td class="col-sm-3"><strong>Ilość stron</strong></td>
                            <td class="col-sm-9">{{ entity.pages }}</td>
                        </tr>
                        <tr>
                            <td class="col-sm-3"><strong>Rodzaj usługi</strong></td>
                            <td class="col-sm-9">{{ entity.kind.name }}</td>
                        </tr>
                        <tr>
                            <td class="col-sm-3"><strong>Interesująca data oddania tłumaczenia</strong></td>
                            <td class="col-sm-9">{{ entity.finishdate|date('d.m.Y') }}</td>
                        </tr>
                        <tr>
                            <td class="col-sm-3"><strong>Priorytet zamówienia</strong></td>
                            <td class="col-sm-9">{{ entity.priority.name }}</td>
                        </tr>
                        <tr>
                            <td class="col-sm-3"><strong>Sposób odbioru tłumaczenia</strong></td>
                            <td class="col-sm-9">{{ entity.getFormatName(entity.format) }}</td>
                        </tr>
                        <tr>
                            <td class="col-sm-3"><strong>Imię i nazwisko</strong></td>
                            <td class="col-sm-9">{{ entity.name }}</td>
                        </tr>
                        <tr>
                            <td class="col-sm-3"><strong>Adres e-mail</strong></td>
                            <td class="col-sm-9">{{ entity.clientemail }}</td>
                        </tr>
                        <tr>
                            <td class="col-sm-3"><strong>Adres</strong></td>
                            <td class="col-sm-9">{{ entity.address }}</td>
                        </tr>
                        <tr>
                            <td class="col-sm-3"><strong>Cena początkowa</strong></td>
                            <td class="col-sm-9">{{ entity.price }} £</td>
                        </tr>
                        <tr>
                            <td class="col-sm-3"><strong>Rabat</strong></td>
                            <td class="col-sm-9">{{ entity.discount }}%</td>
                        </tr>
                        <tr>
                            <td class="col-sm-3"><strong>Cena końcowa</strong></td>
                            <td class="col-sm-9">{{ entity.endPrice }} £</td>
                        </tr>
                        <tr>
                            <td class="col-sm-3">&nbsp;</td>
                            <td class="col-sm-9">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="col-sm-3"><strong>Identyfikator płatności PayPal</strong></td>
                            <td class="col-sm-9">{{ entity.paymentID }}</td>
                        </tr>
                        <tr>
                            <td class="col-sm-3"><strong>Identyfikator płatnika PayPal</strong></td>
                            <td class="col-sm-9">{{ entity.payerID }}</td>
                        </tr>
                        <tr>
                            <td class="col-sm-3"><strong>Status płatności PayPal</strong></td>
                            <td class="col-sm-9">{{ entity.paymentState }}</td>
                        </tr>
                        <tr>
                            <td class="col-sm-3">&nbsp;</td>
                            <td class="col-sm-9">&nbsp;</td>
                        </tr>
                        <tr>
                            <td class="col-sm-3"><strong>Status</strong></td>
                            <td class="col-sm-9">{{ entity.status }}</td>
                        </tr>
                        <tr>
                            <td class="col-sm-3"><strong>Dodatkowa informacja</strong></td>
                            {% if entity.content %}
                                <td class="col-sm-9">{{ entity.content|nl2br }}</td>
                            {% else %}
                                <td class="col-sm-9"><em>Brak</em></td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
            <h2>Pliki</h2>
            {% if files is not empty %}
            <div class="panel panel-default table-responsive">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td class="col-sm-9"><strong>Nazwa</strong></td>
                            <td class="col-sm-9"><strong>Data zapisu</strong></td>
                            <td class="col-sm-9"><strong>Pobierz</strong></td>
                            
                        </tr>
                        {% for file in files %}
                        <tr>
                            <td class="col-sm-9">{{ file.name }}</td>
                            <td class="col-sm-9">{{ entity.createdat|localizeddate('long', 'medium') }}</td>
                            <td class="col-sm-9"><a href="{{ file.getFileWebPath() }}">Pobierz</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <em>Brak plików</em>
            {% endif %}
        </div>
    </div>
{% endblock %}