<!DOCTYPE html>
<html>
<head>
    {% block meta %}
        <title>{% block title %}{{ cms_config.get('seo_title', '') }}{% endblock %}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="Description" content="{% block description %}{{ cms_config.get('seo_description', '') }}{% endblock %}"/>
        <meta name="Keywords" content="{% block keywords %}{{ cms_config.get('seo_keywords', '') }}{% endblock %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&amp;subset=latin-ext" rel="stylesheet">
    {% block stylesheets %}
        <link rel="stylesheet" href="/bundles/lscore/common/font-awesome-4.7.0/css/font-awesome.min.css">
        <link href="{{ asset('bundles/lscore/front/css/default.css') }}" rel="stylesheet"/>
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/lscore/front/images/favicon.png') }}"/>
    <script src="{{ asset('bundles/lscore/common/jquery-1.12.3.min.js') }}" type="text/javascript"></script>
</head>
<body>
{% set menuTop = knp_menu_get('LsMenuBundle:FrontMenu:managedMenu', [], {'location': 'menu_top'}) %}
{% set menuBottom = knp_menu_get('LsMenuBundle:FrontMenu:managedMenu', [], {'location': 'menu_bottom'}) %}
{% set currentRoute = app.request.attributes.get('_route') %}

<div id="index-page">
    
    {% block header %}
    <header class="header{{ currentRoute == 'ls_core_homepage' ? '' : (currentRoute == 'ls_order_new' or currentRoute == 'ls_order_ending' ? ' faq-top' : ' subpage-top') }}">
        {% set currentRoute = app.request.attributes.get('_route') %}
        <div class="container">
            <div class="nav-section">
                <div class="brand">
                    <a href="{{ path('ls_core_homepage') }}">
                        <img src="/bundles/lscore/front/images/logo.png" alt="alt" />
                        <img class="mobile" src="/bundles/lscore/front/images/logo-mobile.png" alt="alt" />
                    </a>
                </div>
                <nav class="navbar navigation navbar-default" role="navigation">
                    <div class="navbar-header">
                        <a class="navbar-brand logo" href="{{ path('ls_core_homepage') }}"></a>
                    </div>
                    <div class="collapsed-nav-trigger" id="nav-trigger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="collapse navbar-collapse" id="header-navbar-collapse">
                        <div class="inside-container">
                            <a href="#" class="collapsed-close-btn" id="close-nav"><i class="fa fa-times" aria-hidden="true"></i></a>
                            {{ knp_menu_render(menuTop, {'template': 'LsCoreBundle:Backend:menu.html.twig'}) }}
                        </div>
                    </div>
                </nav>
                <a href="{{ path('ls_core_homepage') }}" class="back-to-homepage-btn filled-button">
                    Wróć do strony głównej
                    <p>Wróć do strony głównej</p>
                </a>
                <a href="{{ path('ls_core_homepage') }}" class="close-btn">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </div>
            <div class="flex-container header-text">
                <h2>{{ index_content.get('top_title', '')|raw|nl2br }}</h2>
                <div class="inline-buttons">
                    <a href="{{ path('ls_order_new') }}" class="filled-button">
                        Złóż zamówienie
                        <p>Złóż zamówienie</p>
                    </a>
                    <a href="{{ path('ls_page_show', {'slug': 'co-robimy' }) }}" class="empty-button">Dowiedz się więcej</a>
                </div>
            </div>
            <div class="next-move">
                <a href="#first-step" class="jumper" id="see-more-button">
                    <img src="/bundles/lscore/front/images/mouse-icon.png" alt="Zobacz więcej" />
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </header>
    {% endblock %}

    {% block content %}{% endblock %}

    <div class="copyright-section">
        <div class="container">
            <p>© Medokum All rights reserved. Designed and developed by: <a target="_blank" href="http://lemonadestudio.pl">Lemonade Studio.</a></p>
        </div>
    </div>

</div>

{% block javascripts %}
    <script src="{{ asset('bundles/lscore/common/bootstrap-3.3.6/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/common/jquery.bxslider/jquery.bxslider.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/front/js/scripts.js') }}" type="text/javascript"></script>
{% endblock %}

</body>
</html>
