{% extends '::backend.html.twig' %}
{% form_theme form with 'LsCoreBundle:Backend:fields.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datepicker').datetimepicker({
                locale: 'pl'
            });
            
            $('.btn-generate').click(function() {
                var text = "";
                var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

                for (var i = 0; i < 8; i++) {
                  text += possible.charAt(Math.floor(Math.random() * possible.length));
                }
                
                $('#{{ form.value.vars.id }}').val(text);
            });
        });
    </script>
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Błąd!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-success alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <strong>Sukces!</strong> {{ flashMessage }}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
            <a href="{{ path('ls_admin_discount') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-list"></i>
                Powrót do listy
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            {{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
            <ul class="nav nav-tabs pills">
                <li class="active">
                    <a data-toggle="tab" href="#tab-ustawienia">Kod rabatowy</a>
                </li>
            </ul>

            <div class="tab-content" style="margin-top: 15px;">
                <div id="tab-ustawienia" class="tab-pane active">
                    
                    <div class="form-group {% if form.value.vars.errors|length %} has-error has-feedback{% endif %}">
                        {{ form_label(form.value, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            <div class="input-group">
                                {{ form_widget(form.value, {'attr': {'class': 'form-control' }}) }}
                                <label for="{{ form.value.vars.id }}" class="input-group-addon btn btn-default btn-generate">
                                    <span class="glyphicon glyphicon-refresh"> <strong>Wygeneruj</strong></span>
                                </label>
                            </div>
                        </div>
                    </div>
                                    
                    <div class="form-group {% if form.discount.vars.errors|length %} has-error has-feedback{% endif %}">
                        {{ form_label(form.discount, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.discount, {'attr': {'class': 'form-control' }}) }}
                            {% if form.discount.vars.errors|length %}
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            {% endif %}
                        </div>
                    </div>
                        
                    <div class="form-group {% if form.availableUses.vars.errors|length %} has-error has-feedback{% endif %}">
                        {{ form_label(form.availableUses, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.availableUses, {'attr': {'class': 'form-control' }}) }}
                            {% if form.availableUses.vars.errors|length %}
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                            {% endif %}
                        </div>
                    </div>
                        
                    <div class="form-group">
                        {{ form_label(form.endDate, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                        <div class="col-sm-9">
                            <div class="input-group">
                                {{ form_widget(form.endDate, {'attr': {'class': 'form-control datepicker', 'autocomplete': 'off' }}) }}
                                <label for="{{ form.endDate.vars.id }}" class="input-group-addon btn">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="border-top: 1px solid #ddd; margin-bottom: 15px;"></div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-primary' }}) }}
                    {{ form_widget(form.submit_and_list, {'attr': {'class': 'btn btn-default' }}) }}
                    {{ form_widget(form.submit_and_new, {'attr': {'class': 'btn btn-default' }}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}