<div class="steps">
    <div class="line">
        <div class="line-overlay"></div>
    </div>
    <ul class="unstyled">
        <li class="active">
            <div class="bigger-circle">
                <div class="smaller-circle">
                    1
                    <div class="smaller-circle-overlay">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <p>Dokument do tłumaczenia</p>
        </li>
        <li>
            <div class="bigger-circle">
                <div class="smaller-circle">
                    2
                    <div class="smaller-circle-overlay">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <p>Rodzaj usługi</p>
        </li>
        <li>
            <div class="bigger-circle">
                <div class="smaller-circle">
                    3
                    <div class="smaller-circle-overlay">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <p>Termin realizacji</p>
        </li>
        <li>
            <div class="bigger-circle">
                <div class="smaller-circle">
                    4
                    <div class="smaller-circle-overlay">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <p>Forma odbioru tłumaczenia</p>
        </li>
        <li>
            <div class="bigger-circle">
                <div class="smaller-circle">
                    5
                    <div class="smaller-circle-overlay">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <p>Płatność</p>
        </li>
    </ul>

</div>

<div class="mobile-steps">
    <div class="step active">
        <span>Krok 1.</span> Dokument do tłumaczenia
    </div>
    <div class="step">
        <span>Krok 2.</span> Rodzaj usługi
    </div>
    <div class="step">
        <span>Krok 3.</span> Termin realizacji
    </div>
    <div class="step">
        <span>Krok 4.</span> Forma odbioru tłumaczenia
    </div>
    <div class="step">
        <span>Krok 5.</span> Płatność
    </div>
</div>