{% extends '::frontend.html.twig' %}
{% form_theme form with 'LsCoreBundle:Frontend:fields.html.twig' %}

{% block title %}Złóż zamówienie{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/lscore/front/css/modal/component.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('bundles/lscore/front/css/datetimepicker.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="{{ asset('bundles/lscore/common/bootstrap-datetimepicker-4.17.37/build/css/bootstrap-datetimepicker.min.css') }}" rel="stylesheet" type="text/css" media="all" />
{% endblock %}

{% block content %}
    <div class="container form-container">
        <a href="{{ path('ls_core_homepage') }}" class="close-btn">
            <img src="{{ asset('/bundles/lscore/front/images/x-ico.png') }}" alt="powrót na stronę główną" />
        </a>
        <h2 class="subpage-header">Złóż zamówienie</h2>
        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="order-error">{{ flashMessage }}</div>
        {% endfor %}
        {% include "LsOrderBundle:Front:_steps.html.twig" %}
        {{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
        <div class="order-form">
            <div class="orders-form-section active-section narrow-section" id="first-step">
                <h3>Prześlij plik oraz wybierz typ dokumentu medycznego, który chciałbyś przetłumaczyć</h3>
                <div class="form-group">
                    <div class="col-sm-9 file-input-container">
                        <div class="file-button">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                        </div>
                        <ul class="unstyled files" data-prototype="{{ form_widget(form.files.vars.prototype)|escape('html_attr') }}"></ul>
                        <label>
                            Dodaj plik z tekstem<br />
                            <span>do tłumaczenia na j. angielski</span><br />
                            <ul class="unstyled filenames"></ul>
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.types, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                    <div class="col-sm-9">
                        {{ form_widget(form.types, {'attr': {'class': 'form-contro price-calc' }}) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form_label(form.pages, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                    <div class="col-sm-9 has-tooltip" id="pages-num">
                        {{ form_widget(form.pages, {'attr': {'class': 'form-control pages' }}) }}
                        <p class="tooltip">
                            Jesli wybrana ilość stron jest mniejsza niz rzeczywista łączna ilość stron dodanego dokumentu, przetłumaczona zostanie wybrana ilość stron w kolejności od pierwszej strony 
                        </p>
                    </div>
                </div>
            </div>
            <div class="orders-form-section order-kind-section">
                <h3>Okreś rodzaj usługi</h3>
                <div class="form-group">
                    <div class="col-sm-9">
                        {{ form_widget(form.kind, {'attr': {'class': 'form-control' }}) }}
                    </div>
                </div>
            </div>
            <div class="orders-form-section">
                <h3>Wybierz interesującą Cię datę oddanie tłumaczenia oraz określ priorytet zamówienia</h3>
                <div class="form-group">
                    <div class="col-sm-9 datetime">
                        {{ form_widget(form.finish_date, {'attr': {'class': 'form-control datepicker' }}) }}
                    </div>
                </div>
                <div class="form-group order-priority-section">
                    <div class="col-sm-9">
                        {{ form_widget(form.priority, {'attr': {'class': 'form-control' }}) }}
                    </div>
                </div>
            </div>
            <div class="orders-form-section delivery-way-section">
                <h3>Wybierz sposób odbioru tłumaczenia</h3>
                <div class="inline-flex">
                    <div class="left-part">
                        <div class="form-group">
                            <div class="col-sm-9">
                                {{ form_widget(form.format, {'attr': {'class': 'form-control radio-input' }}) }}
                            </div>
                        </div>
                    </div>
                    <div class="right-part">
                        <div class="form-group pdf wydruk">
                            {{ form_label(form.name, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.name, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>
                        <div class="form-group pdf wydruk">
                            {{ form_label(form.client_email, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.client_email, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>
                        <div class="form-group wydruk">
                            {{ form_label(form.address, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.address, {'attr': {'class': 'form-control' }}) }}
                                <p style="margin-top: 0;">Kraj: <span style="font-weight: 500;">Wielka Brytania</span></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                            
            <div class="orders-form-section order-payments-section" id="last-step">
                <h3>Płatność kartą</h3>
                <div class="inline-flex">
                    <div class="left-part">
                        <div class="form-group">
                            <div class="col-sm-9">
                                <div class="calculated-price">
                                    <p>Wartość zamówienia</p>
                                    <p class="price" id="secondary-price" data-price="0.00">&pound; 0,00</p>
                                    <div class="discount">
                                        <p><a class="md-trigger code-button" data-modal="modal-1" href="#">Użyj kodu rabatowgo</a></p>
                                    </div>
                                </div>
                                <div class="logos inline-flex">
                                    <img src="/bundles/lscore/front/images/master-card-logo.png" alt="MasterCard" />
                                    <img src="/bundles/lscore/front/images/visa-logo.png" alt="VISA" />
                                    <img src="/bundles/lscore/front/images/american-express-logo.png" alt="American Express" />
                                    <img src="/bundles/lscore/front/images/discover-logo.png" alt="Discover" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-part">
                        <div class="form-group">
                            {{ form_label(form.owner_name, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.owner_name, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.card_id, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.card_id, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.expiration, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.expiration, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(form.ccv, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                            <div class="col-sm-9">
                                {{ form_widget(form.ccv, {'attr': {'class': 'form-control' }}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-footer">
            <div id="required-message">*Wymagane pole jest puste</div>
            <div class="calculated-price" id="final-price" data-price="0.00">
                Cena: <span></span>
            </div>
            <div class="buttons">
                <a href="" id="previous-step">Wróć</a>
                <a href="" id="next-step">Kontynuuj</a>
                <a style="display:none;" href="" id="submit">Wyślij</a>
                
                <div id="paypal-button"></div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    
{# modal #}
<div class="md-modal md-effect-3" id="modal-1">
	<div class="md-content">
        <div>
            <div class="head">
                Użyj kodu rabatowego
                <a href="#" class="close-btn md-close">
                    <img src="/bundles/lscore/front/images/x-ico.png?version_10" alt="close">
                </a>
            </div>
            <form class="code-form" action="{{ path('ls_order_discount_code') }}" method="post" role="form" novalidate="novalidate">
                <div class="message"></div>
                <div class="form-body">
                    <div class="form-group">
                        <label for="code">Kod rabatowy</label>
                        <input type="text" class="form-control" id="code" name="_code" required="required" />
                    </div>
                    
                    <input type="submit" id="accept-code" name="_submit" class="btn btn-primary" value="Zastosuj" />
                    <a class="md-close" href="#">Anuluj</a>
                </div>
            </form>
        </div>
	</div>
</div>

<div class="md-overlay"></div>

{% endblock %}

{% block javascripts %}
    <script>
        var pagesLimit = {{cms_config.get('translate_page_limit', '')}};
        var disabledDates = [{% for date in disabledDates %}'{{ date|date('Y/m/d') }}',{% endfor %}];
    </script>
    {{ parent() }}
    <script src="{{ asset('bundles/lscore/common/moment-2.13.0/min/moment-with-locales.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/common/bootstrap-datetimepicker-4.17.37/build/js/bootstrap-datetimepicker.min.js') }}" type="text/javascript"></script>
    
    <script src="https://www.paypalobjects.com/api/checkout.js" type="text/javascript"></script>
    <script>
        paypal.Button.render({

            env: 'sandbox', // Or 'sandbox',
            
            client: {
                production: 'AZBll23g7chJYuzZ7WNkKTQ_meLy5mO248mXxZpZS4HAzCGv_7oBFuzVZZvcaJXXL65j2YgjZ6OPl2Dt',
                sandbox: 'AWdfLoYJfLYbwgbAV77zS7OpmF2pyfIYGbGXFhUlpilLo1esCcrRVMS2izEOZz3irdxYKeLggwjRN3Bu'
            },
            
            locale: 'pl_PL',
            
            style: {
                label: 'pay',
                color: 'blue',
                size: 'responsive'
            },

            commit: true, // Show a 'Pay Now' button

            payment: function(data, actions) {
                return actions.payment.create({
                    payment: {
                        transactions: [
                            {
                                amount: { total: $('#final-price').attr('data-price'), currency: 'GBP' }
                            }
                        ]
                    }
                });
            },

            onAuthorize: function(data, actions) {
                jQuery.post('/')
                .done(function() {
                    confirmPayPal(data.paymentID, data.payerID);
                });
           }

        }, '#paypal-button');
        
        function confirmPayPal(paymentID, payerID) {
            $('#form_order_paymentID').val(paymentID);
            $('#form_order_payerID').val(payerID);
            
            $("#form_order").submit();
        }
    </script>
    
    {# modal #}
    <script src="{{ asset('bundles/lscore/front/js/modal/modernizr.custom.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/front/js/modal/classie.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/lscore/front/js/modal/modalEffects.js') }}" type="text/javascript"></script>
    
    <script>        
        $(".code-form").submit(function( event ) {
            event.preventDefault();
            
            $.ajax({
                type: 'post',
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (response) {
                    if (response.error === false) {
                        setDiscount(response.discount);
                        $('#modal-1').removeClass('md-show');
                    } else {
                        $('.code-form .message').html('<p>'+ response.message +'</p>');
                        $('.code-form .message p').fadeIn();
                        $('.code-form .message p').delay(7000).fadeOut();
                    }
                }
            });
        });
    </script>    
{% endblock %}