{% extends '::frontend.html.twig' %}

{% block content %}
    <div class="container ending-container">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div>{{ flashMessage }}</div>
        {% endfor %}
        <div class="check-icon">
            <i class="fa fa-check" aria-hidden="true"></i>
        </div>
        <h2>Dziękujemy za złożenie zamówienia</h2>
        <div class="ending-description">
            <p>
            {% if order.format == 'wydruk' %}
                Twój dokument medyczny został przekazany do tłumaczenia.<br />
                Gotowe tłumaczenie w formie drukowanej prześlemy pod wskazane adres w Wielkiej Brytanii.
            {% else %}
                Twój dokument medyczny został przekazany do tłumaczenia.<br />
                Gotowe tłumaczenie w formacie .pdf prześlemy na Twój adres e-mail.
            {% endif %}
            </p>
        </div>
        <div class="bordered-box">
            <ul class="inline-flex unstyled">
                <li>
                    <p class="field-name">Rodzaj usługi</p>
                    <p>{{ order.kind }}</p>
                </li>
                <li>
                    <p class="field-name">Piorytet zamówienia</p>
                    <p>{{ order.priority }}</p>
                </li>
                <li>
                    <p class="field-name">Termin odbioru</p>
                    <p>{{ order.finishDate|date("d-m-Y") }}</p>
                </li>
                <li>
                    <p class="field-name">Sposób odbioru</p>
                    {% if order.format == 'wydruk' %}
                    <p>
                        Wydruk<br />
                        (tłumaczenie wysłane na wskazany adres w Wielkiej Brytanii)
                    </p>
                    {% else %}
                    <p>
                        Format PDF<br />
                        (tłumaczenie przesłane emailem)
                    </p>
                    {% endif %}
                </li>
            </ul>
        </div>
        <div class="ending-description">
            <p>Jeśli potrzebujesz Fakturę VAT skontaktuj się z nami :
            <br/>info@mastermindtranslations.co.uk</p>
        </div>
        <a target="_blank" href="{{ path('ls_order_ending_pdf', {'id': order.id}) }}" class="filled-button">
            Pobierz rachunek
            <p>Pobierz rachunek</p>
        </a>
        <a href="{{ path('ls_core_homepage') }}" class="filled-button">
            Ok
            <p>Ok</p>
        </a>
    </div>
{% endblock %}