{% extends '::frontend.html.twig' %}
{% form_theme form with 'LsCoreBundle:Frontend:fields.html.twig' %}

{% block title %}Kontakt - {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div>{{ flashMessage }}</div>
        {% endfor %}
        <div>
            {{ form_start(form, {'attr': {'id': form.vars.name, 'class': 'form-horizontal', 'novalidate': 'novalidate' }}) }}
            <div class="form-group">
                {{ form_label(form.name, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                <div class="col-sm-9">
                    {{ form_widget(form.name, {'attr': {'class': 'form-control' }}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.email, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                <div class="col-sm-9">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control' }}) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.content, null, {'label_attr': {'class': 'col-sm-3 control-label' }}) }}
                <div class="col-sm-9">
                    {{ form_widget(form.content, {'attr': {'class': 'form-control' }}) }}
                </div>
            </div>
            {#{{ form_row(form.google_recaptcha, {'attr': {'class': 'g-recaptcha' }}) }}#}
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    {{ form_widget(form.submit, {'attr': {'class': 'btn btn-default' }}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}