{% extends '::backend.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-sm-8">{{ wo_render_breadcrumbs() }}</div>
        <div class="col-sm-4 text-right" style="margin-bottom: 20px;">
            <a href="{{ path('ls_admin_order') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-list"></i>
                Powrót do listy
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h2 class="class">Szczegóły zamówienia: <strong>{{ entity.name }}</strong></h2>
            <div class="panel panel-default table-responsive">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td class="col-sm-3"><strong>Data wysłania</strong></td>
                            <td class="col-sm-9">{{ entity.createdat|localizeddate('long', 'medium') }}</td>
                        </tr>
                        <tr>
                            <td class="col-sm-3"><strong>Plik</strong></td>
                            <td class="col-sm-9">{{ entity.name }}</td>
                        </tr>
                        <tr>
                            <td class="col-sm-3"><strong>Adres e-mail</strong></td>
                            <td class="col-sm-9">{{ entity.clientemail }}</td>
                        </tr>
                        <tr>
                            <td class="col-sm-3"><strong>Status</strong></td>
                            <td class="col-sm-9">{{ entity.status }}</td>
                        </tr>
                        <tr>
                            <td class="col-sm-3"><strong>Treść</strong></td>
                            {% if entity.content %}
                                <td class="col-sm-9">{{ entity.content|nl2br }}</td>
                            {% else %}
                                <td class="col-sm-9"><em>Brak</em></td>
                            {% endif %}
                        </tr>
                    </tbody>
                </table>
            </div>
            <h2>Pliki</h2>
            {% if files is not empty %}
            <div class="panel panel-default table-responsive">
                <table class="table table-bordered table-striped">
                    <tbody>
                        <tr>
                            <td class="col-sm-9"><strong>Nazwa</strong></td>
                            <td class="col-sm-9"><strong>Data zapisu</strong></td>
                            
                        </tr>
                        {% for file in files %}
                        <tr>
                            <td class="col-sm-9">{{ file.name }}</td>
                            <td class="col-sm-9">{{ entity.createdat|localizeddate('long', 'medium') }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <em>Brak plików</em>
            {% endif %}
        </div>
    </div>
{% endblock %}