/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-05-23, 12:31:24
    Author     : Tomasz Jacek
*/

@keyframes droppingarrow {
    0% {
        opacity: 1;
        bottom: -30px;
    }
    100% {
        opacity: 0;
        bottom: -50px;
    }
}