/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-05-15, 08:44:47
    Author     : Tomek
*/

@mixin position($position, $index) {
    position: $position;
    z-index: $index;
}
    
@mixin rounded-box($width, $height) {
    input {
        visibility: hidden;
        width: $width;
        &:after {
            content: "";
            cursor: pointer;
            border: 2px solid $border-input-color;
            border-radius: 20px;
            display: block;
            height: $height;
            width: 100%;
            visibility: visible;
        }
    }
}

@mixin breakpoint($breakpoints) {
    $breakpoint-max: $desktop-min;
    
    @each $breakpoint in $breakpoints {
        @if ($breakpoint == laptop) {
            $breakpoint-max: $laptop-max;
        } @else if ($breakpoint == tablet) {
            $breakpoint-max: $tablet-max;
        } @else if ($breakpoint == mobile) {
            $breakpoint-max: $mobile-max;
        } @else {
            $breakpoint-max: $desktop-min;
        } 
        
        @media (max-width: $breakpoint-max) {
            @content;
        }
    }
}

