/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-06-12, 14:26:24
    Author     : Tomek
*/

@include breakpoint(laptop) {
    .header {
        min-height: 805px;
        
        &.subpage-top {
            min-height: 210px;
        }
        
        &:after {
            background: linear-gradient(to right, $header-overlay-color1 10%, rgba(#192853, .7), $header-overlay-color1 90%)
        }
        
        .header-text {
            margin: 37.2% auto 0;
            width: 100%;
            
            h2 {
                margin: 0 auto 49px;
                max-width: 95%;
                font-size: 35px;
            }
        }
    }
}

@include breakpoint(tablet) {
    .header {
        background-position-x: calc(50% - -195px);
    }
    
    .container {
        width: $tablet-min;
    }
    .nav-section {
        .collapsed-nav-trigger {
            display: flex;
            align-items: center;    
        }
        .collapsed-close-btn {
            display: block;
        }
        .collapse {
            @include position(fixed, 1010);
            background-color: #fff;
            display: none;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            height: 100vh;
            width: 100%;
            .inside-container {
                @include position(relative, 1001);
                margin: 0 auto;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: $tablet-min;
            }
            .collapsed-close-btn {
                @include position(absolute, 1001);
                right: 5px;
                top: 45px;
                i {
                    color: #000;
                    font-size: 22px;
                }
            }
            ul {
                text-align: center;
                flex-wrap: wrap;
                li {
                    cursor: pointer;
                    display: block;
                    border: 1px solid $bordered-button-border-color;
                    border-radius: $button-border-radius;
                    margin: 8px auto;
                    a {
                        border: none;
                        color: #000;
                        padding: 20px 85px;
                    }
                    &:hover {
                        a {
                            color: inherit;
                        }
                    }
                }
            }
        }
        .navbar-header {
            display: none;
        }
    }
    .main-page-content {
        .about-us-section {
            .rounded-container {
                h2 {
                    font: {
                        size: 35px;
                    }
                    width: 535px;
                    top: -22px;
                }
                ul {
                    padding: 0 30px;
                    padding-top: 48px;
                    padding-bottom: 60px;
                    padding-left: 35px;
                    
                    li {
                        margin: 45px 0;
                        margin-bottom: 8px;
                        width: 30%;
                        
                        p {
                            font: {
                                size: 16px;
                            }
                            width: 153px;
                        }
                    }
                }
            }
        }
        
        #second-step ul li:first-child {
            padding-bottom: 91px;
            
            h3.smaller-header {
                font-size: 23px;
                margin: 132px 38px 65px;
                float: right;
                max-width: 280px;
            }
        }
        
        #second-step ul li:last-child h3.smaller-header {
            margin: 111px 0 65px;
            font-size: 23px;
            max-width: 290px;
        }
        
        #second-step ul li:first-child img {
            margin-right: 18px;
            width: 260px;
            margin-top: -23px;
        }
        
        #second-step ul li:last-child img {
            margin-left: -1px;
            margin-top: -15px;
            width: 282px;
        }
        
        #third-step {
            .container:after {
                right: 64.5%;
            }
            
            img {
                margin-top: -109px;
                margin-left: 50px;
            }
            
            .section-header {
                margin-left: 42.5%;
                text-align: left;
                font-size: 30px;
                padding-top: 57px;
            }
        }
        
        .about-us-section .container img {
            margin: 58px 0 45px;
        }

        .testimonials {
            padding-bottom: 50px;
            
            img {
                margin: 75px auto 43px;
            }
            .container {
                width: $tablet-min;
            }
            
            .testimonial-slider p {
                width: 460px;
                
                &.who {
                    margin: 21px auto;
                }
            }
            
            .bx-wrapper ul li {
                width: 550px !important;
            }
            
            #prev {
                left: -19px;
                top: 49%;
            }
            #next {
                right: -19px;
                top: 49%;
            }
        }
        
        .make-order-section h2 {
            font-size: 30px;
        }
        
        .payment-section .container {
            position: relative;
            padding: 96px 0 44px;
            
            .faq-info {
                padding: 0 0px;
                width: 320px;
                margin-left: -37px;
            }
            
            h3 {
                margin-left: 0px;
                font-size: 20px;
                margin-bottom: 34px;
            }
            
            p {
                font-size: 16px;
                margin: 0 auto;
                max-width: 360px;
                line-height: 1.5em;
            }
            
            .payment-logos {
                text-align: center;
                padding: 0 0px;
                width: 310px;
                margin-right: -27px;
                
            }
        }
    }
    .steps {
        width: $tablet-min;
        .line {
            .line-overlay {
                background: linear-gradient(to left, $active-step-color 40px, $main-form-color 95px);
            }
        }
    }
    
    .form-container {
        .subpage-header {
            margin-top: -5px;
        }
    }
    
    .order-form {
        $width: 195px;
        .input-container {
            > ul {
                padding: 0;
                width: $width - 60;
                li {
                    font: {
                        size: 11px;
                    }
                }
                + p {
                    display: none;
                }
            }
            &:nth-child(even) {
                > ul {
                    li {
                        font: {
                            size: 12px;
                        }
                    }
                }
            }
        }
        .order-kind-section {
            .input-container {
                label {
                    &:after {
                        left: 0;
                        right: 0;
                    }
                }
            }
        }
        .order-priority-section {
            .input-container {
                width: 180px;
                @include rounded-box($width, 75px);
                label {
                    width: 180px;
                }
            }
        }
        .delivery-way-section {
            h3 {
                margin-bottom: 42px;
            }
            
            .inline-flex {
                justify-content: space-between;
                flex-wrap: wrap;
            }
            
            .left-part {
                width: 100%;
                
                label {
                    width: 42%;
                    margin-left: 10px;
                }
            }
            
            .right-part {
                margin-top: 23px;
                
                .form-group {
                    width: 300px;
                }
            }
        }
    }
    .form-footer {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 0px;
        padding-top: 50px;
        
        #required-message {
            right: 0px;
        }
        
        .calculated-price {
            text-align: center;
            margin: {
                bottom: 20px;
            }
            width: 100%;
        }
    }
    
    .footer p {
        margin: 25px auto 0;
    }
}

@include breakpoint(mobile) {
    .container {
        width: 320px;
        background-position-x: calc(50% - -195px);
    }
    .header {
        min-height: 502px;
        
        &.subpage-top {
            min-height: 165px;
            height: 165px;
            
            &.faq {
                min-height: 180px;
                height: 180px;
            }
        }
        
        .header-text {
            margin-top: 42%;
            h2 {
                font: {
                    size: 20px;
                }
                margin: 0 auto 31px;
            }
            .inline-buttons {
                display: block;
                a {
                    display: block;
                    margin: 0 auto;
                    
                    &.empty-button {
                        font-size: 14px;
                        margin-top: 6px;
                    }
                }
            }
        }
        .brand {
            margin-top: 3px;
            margin-left: 20px;
            img {
                display: none;
                
                &.mobile {
                    display: block;
                }
            }
        }
        .nav-section {
            padding-top: 16px;
            .collapsed-nav-trigger {
                margin-right: 22px;
                height: 23px;
                width: 26px;
            }
            .collapsed-close-btn {
                right: 15px;
                top: 20px;
            }
            .collapse .inside-container {
                width: 300px;
            }
        }
        
        #see-more-button {
            img {
                display: none;
            }
            i {
                left: -12px;
            }
        }
    }
    .subpage-top {
        a.back-to-homepage-btn {
            display: none;
        }
        .close-btn {
            /*Override default hidding of button.*/
            display: block !important;
            margin-right: 25px;
            font: {
                size: 28px;
            }
            margin: 0;
        }
    }
    
    .faq-content {
        margin-top: 55px;
    }
    
    .subpage.faq {
        margin-top: -89px;
    }
    
    .main-page-content {
        &:after {
            display: none;
        }
        
        > div {
            @include position(relative, 1003);
        }
        .section-header {
            font: {
                size: 20px; 
            }
        }
        
        #first-step {
            padding: 97px 0 0px;
            background: transparent url('../images/mobile-line-1.png') center top no-repeat;
            min-height: 220px;
            @include position(relative, 1002);
            
            img {
                width: 166px;
                margin-top: 13px;
            }
        }
        
        #second-step {
            @include position(relative, 1001);
            margin-top: -30px;
            margin-bottom: 32px;
            
            ul {
                flex-wrap: wrap-reverse;
                padding-bottom: 0px;
                
                h3.smaller-header {
                    margin: 145px auto 65px;
                    text-align: center;
                }
                li {
                    text-align: center;
                    /*Override :first-, :last-childs*/
                    padding: 0 !important ;
                    /*Override :first-, :last-childs*/
                    text-align: center !important;
                    width: 100%;
                    &:last-child {
                        margin-top: 0;
                        background: #3b67c4 url('../images/mobile-line-2.png') center 7% no-repeat;
                        
                        h3.smaller-header {
                            width: 260px;
                            margin: 0 auto;
                            margin-top: 93px;
                            margin-bottom: 22px;
                            font-size: 20px;
                        }
                        
                        img {
                            width: 208px;
                            margin-left: -4px;
                            margin-top: 0px;
                            margin-bottom: -28px;
                        }
                    }
                    &:first-child {
                        margin-bottom: 0;
                        background: #3f78f1 url('../images/mobile-line-3.png') center 12% no-repeat;
                        
                        h3.smaller-header {
                            float: none;
                            font-size: 20px;
                            width: 280px;
                            margin: 0 auto;
                            margin-top: 123px;
                            margin-bottom: 13px;
                        }

                        img {
                            width: 153px;
                            margin-right: 0px;
                            margin-top: 0px;
                            margin-bottom: -38px;
                        }
                    }
                }
            }
        }
        #third-step {
            background: url('../images/mobile-line-4.png') center 1% no-repeat;
            padding-top: 55px;
            
            .container {
                &:after {
                    right: 50.4%;
                    width: 200%;
                    top: 50px;
                    height: calc(100% - 50px);
                }
            }
            
            .section-header {
                margin-left: auto;
                text-align: center;
                font-size: 20px;
            }
            img {
                margin-top: -35px;
                margin-left: 158px;
                display: none;
                
                &.mobile {
                    display: block;
                }
            }
        }
        
        .about-us-section {
            margin-top: 0px;
            
            .container {
            
                img {
                    margin: 13px 0 45px;
                    width: 45px;
                }

                .rounded-container {
                    margin-left: 10px;
                    width: calc(100% - 25px);

                    h2 {
                        width: 65%;
                        top: -42px;
                        padding: 0 29px;
                        font-size: 22px;
                    }

                    ul {
                        display: block;
                        height: auto;
                        padding: 0 30px;
                        padding-top: 50px;
                        padding-bottom: 15px;
                        padding-left: 30px;
                        li {
                            width: 100%;
                            margin: 0;
                            margin-bottom: 14px;
                            &:before {
                                margin-right: 6px;
                            }
                            p {
                                font-size: 14px;
                                width: 211px;
                            }
                        }
                    }
                }
            }
        }

        .payment-section {
            .container {
                position: relative;
                padding: 51px 0;
                
                .faq-info {
                    width: 100%;
                    margin: 0px;
                    
                    h3 {
                        margin-left: 0px;
                        font-size: 18px;
                        margin-bottom: 18px;
                        margin-top: 1px;
                    }
                    
                    p {
                        font-size: 14px;
                        margin: 0 auto;
                        max-width: 287px;
                    }
                }
                .payment-logos {
                    width: 100%;
                    margin: 0px;
                    margin-top: 58px;
                    
                    h3 {
                        margin-left: 0px;
                        font-size: 18px;
                        margin-bottom: 26px;
                        margin-top: 1px;
                    }
                }
            }
            .container:before {
                display: none;
            }
        }
        .testimonials {
            padding-bottom: 32px;
            img {
                width: 60px;
                margin: 59px auto 29px;
            }
            
            #prev {
                bottom: 4px;
                left: 37px;
                top: initial;
                width: 19px;
            }
            
            #next {
                top: initial;
                width: 19px;
                bottom: 4px;
                right: 37px;
            }
            
            .container {
                width: 320px;
                
                .testimonial-slider {
                    li {
                        width: 281px !important;
                    }
                    
                    p {
                        width: 100%;
                        font-size: 14px;
                        line-height: 1.45em;
                    }
                }
            }
        }
        .make-order-section {
            height: 295px;
            
            h2 {
                font-size: 20px;
                margin-top: -2px;
                line-height: 1.2em;
            }
        }
        .footer {
            padding: 25px 0 17px;
        }
    }
    
    .subpage-content {
        text-align: justify;
    }
    .subpage {
        > h1 {
            font: {
                size: 22px;
            }
        }
    }
    .faq-content {
        ul {
            li {
                i {
                    margin-left: 0;
                }
                p {
                    margin-left: 20px;
                }
                .content {
                    margin-left: 5px;
                }
            }
        }
    }
    .footer {
        height: auto;
        .bottom-nav {
            display: none;
        }
        p {
            margin-top: 0;
        }
    }
    .form-container {
        
        .close-btn {
            display: block;
            margin: 0px 22px 0;
            text-align: right;
            width: 27px;
            float: right;
        }
        
        .subpage-header {
            margin-top: 22px;
            margin-left: 10px;
            font-size: 20px;
            text-align: left;
            margin-bottom: 33px;
        }
        
        .steps {
            display: none;
        }
        
        .mobile-steps {
            display: block;
            
            .step {
                display: none;
                font-size: 15px;
                font-weight: 600;
                margin-left: 10px;
                
                &.active {
                    display: block;
                }
                
                &.post-active {
                    display: none;
                }
                
                span {
                    font-size: 16px;
                    color: #3f78f1;
                }
            }
        }
    }
    
    .order-form {
        padding: 0 10px;
        .orders-form-section {
            h3 {
                max-width: 100%;
                margin: 13px 0;
                margin-bottom: 34px;
                font-size: 15px;
                font-weight: 400;
                text-align: left;
            }
            
            label {
                font-size: 13px;
            }
            
            select, input, textarea {
                margin: 5px 0 11px;
            }
            
        }
        .file-input-container {
            margin-bottom: 10px;
            .file-button {
                height: 33px;
                width: 33px;
            }
            label {
                font-size: 15px;
                span {
                    font-size: 11px;
                }
            }
        }
        
        .order-kind-section {
            
            h3 {
                margin-bottom: 29px;
            }
            
            .form-control {
                display: block;
                
                .input-container {
                    margin: 0 !important;
                    flex-wrap: wrap;
                    justify-content: inherit;
                    padding-bottom: 25px;
                    
                    .kind-content {
                        width: 85%;
                        margin-top: 10px;
                    }
                    
                    p {
                        margin: 0;
                        display: block;
                        font-size: 11px;
                        text-align: start;
                        float: right;
                        width: 81%;
                    }
                    
                    ul {
                        padding: 0;
                        width: 71%;
                        position: relative;
                        float: right;
                        top: 0px;
                    }
                    
                    input {
                        position: relative;
                        
                        &:before {
                            position: absolute;
                            z-index: 1002;
                            background-color: #09d0c1;
                            border-radius: 50%;
                            left: 5px;
                            top: -1px;
                            margin: auto;
                            content: '';
                            opacity: 0;
                            height: 8px !important;
                            visibility: visible;
                            width: 8px !important;
                            display: block;
                        }

                        &:after {
                            position: absolute;
                            z-index: 1002;
                            border: 2px solid #09d0c1 !important;
                            border-radius: 50%;
                            left: 0px;
                            top: -6px;
                            content: '';
                            height: 14px !important;
                            visibility: visible;
                            width: 14px !important;
                            margin: 0;
                            display: block;
                        }
                        
                        &.active-input {
                            &:before {
                                opacity: 1;
                            }
                        }
                    }
                    
                    label {
                        position: relative;
                        width: 100%;
                        
                        &:after {
                            display: none;
                        }
                        
                        input {
                            width: 100%;
                            height: auto;
                            margin-bottom: 0;
                        }
                        
                        span {
                            box-shadow: none !important;
                            border: none !important;
                            background: transparent !important;
                            width: 100%;
                            height: auto;
                            color: #313131;
                            font-size: 14px;
                            align-items: flex-start;
                            justify-content: flex-start;
                            padding-left: 29px;
                            position: absolute;
                        }
                    }
                    
                    &.default label span {
                        font-size: 15px;
                        font-weight: 500;
                    }
                }
            }
        }
        
        .order-priority-section {
            float: left;
            width: 100%;
            margin-top: 18px;
            
            .form-control {
                display: block;
                
                .input-container {
                    width: 100%;
                    height: auto;
                    display: block;
                    float: left;
                    margin-bottom: 7px;
                    
                    &:nth-child(2) {
                        span {
                            font-weight: 500;
                            font-size: 15px;
                        }
                    }
                    
                    label {
                        position: relative;
                        width: 100%;
                        height: auto;
                        display: block;
                    }
                    
                    input {
                        width: 100%;
                        box-shadow: none !important;
                        border: none !important;
                        background: transparent !important;
                        position: absolute;
                        top: 0;
                        height: 100%;
                        float: left;
                        display: inline;
                        
                        &:before {
                            position: absolute;
                            z-index: 1002;
                            background-color: #09d0c1;
                            box-shadow: none !important;
                            border-radius: 50%;
                            left: 5px;
                            top: -1px;
                            margin: auto;
                            content: '';
                            opacity: 0;
                            height: 8px !important;
                            visibility: visible;
                            width: 8px !important;
                        }

                        &:after {
                            position: absolute;
                            z-index: 1002;
                            border: 2px solid #09d0c1 !important;
                            background: transparent !important;
                            box-shadow: none !important;
                            border-radius: 50%;
                            left: 0px;
                            top: -6px;
                            content: '';
                            height: 14px !important;
                            visibility: visible;
                            width: 14px !important;
                            margin: 0;
                        }
                        
                        &.active-input {
                            &:before {
                                opacity: 1;
                            }
                        }
                    }
                    
                    span {
                        position: relative;
                        float: left;
                        width: 70%;
                        padding: 0;
                        height: auto;
                        color: black !important;
                        display: block;
                        padding-left: 30px;
                        padding-right: 60px;
                    }
                    
                    p {
                        position: relative;
                        top: 0;
                        width: 80%;
                        height: auto;
                        color: #01a11f !important;
                        text-align: left;
                        float: left;
                        padding-left: 29px;
                        font-size: 16px;
                        margin-top: 2px;
                    }
                }
            }
        }
        
        .delivery-way-section {
            h3 {
                margin-bottom: 13px;
            }
            
            .left-part {
                label {
                    width: 100%;
                    display: block;
                    margin-left: 0px;
                    position: relative;
                    float: left;
                }
                
                input {
                    float: left;
                    margin: 9px 0 0px;
                }
                
                span {
                    margin-top: 14px;
                    margin-left: 10px;
                    float: left;
                    position: relative;
                    
                    &.info {
                        margin: 0;
                        font-size: 11px;
                        margin-left: 10px;
                        text-align: left;
                        margin-top: 3px;
                        float: left;
                        width: 73%;
                    }
                }
            }
        }
    }
}


