/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-05-11, 15:52:14
    Author     : Tomasz Jacek
*/

/*Sizes*/
$circle-size: 60px;
$main-border-radius: 5px;
$tooltip-border-radius: $main-border-radius;
$button-border-radius: $main-border-radius;
$faq-border-radius: $main-border-radius;
$rounded-container-border-radius: 20px;
$copyright-section-height: 70px;
$subpage-top-height: 210px;
$filled-btn-width: 170px;
$subpage-height: 79vh;

/*Colors*/
$filled-button-color: #09d0c1;
$darkend-button-color: #0af5e1;
$default-text-color: #313131;
$nav-hover-color: $filled-button-color;

$main-form-color: #09d0c1;
$important-form-color: #9c1006;
$shadow-form-color: #f95353;
$steps-main-color: #e1e1e1;
$active-step-color: #3f78f1;
$make-order-border-color: #b7b7b7;
$price-color: #01a11f;
$tooltip-bg-color: #525252;
$input-active-color: $main-form-color;

$empty-button-color: $filled-button-color;
$bordered-button-border-color: #d7d7d7;
$border-input-color: #c1c1c1;
$faq-border-color: $border-input-color;
$faq-plus-sign-color: $filled-button-color;

$section-header-color: #3f78f1;
$section-header-secondary-color: #fff000;
$header-overlay-color1: #5e6886;
$subpage-top-color: #3154a2;
$rounded-container-border-color: #b7b7b7;
$border-container-header-color: $filled-button-color;

$footer-bg-color: #e0e0e0;
$copyright-bg-color: #c1c1c1;
$footer-text-color: #5e5e5e;
$copyright-text-color: $footer-text-color;


/*Others*/
$margin-timeout: 1s;
$scale-timeout: .8s;
$opacity-timeout: 1.4s;

/*RWD breakpoints*/
$desktop-min: 1920px;
$laptop-min: 1100px;
$tablet-min: 620px;
$mobile-min: 300px;

$laptop-max: $desktop-min - 1;
$tablet-max: $laptop-min - 1;
$mobile-max: $tablet-min + 100;

