{% extends '::frontend.html.twig' %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="main-page-content">
        <div id="first-step" class="section">
            <div class="container">
                <h2 class="section-header hidden small-slide">
                    {{ index_content.get('first_step_title', '')|raw|nl2br }}
                </h2>
                <img class="hidden popup" src="/bundles/lscore/front/images/first-step-image.png" alt="Dokument do przetłumaczenia" />
            </div>
        </div>
        <div id="second-step" class="section">
            <ul class="unstyled inline">
                <li>
                    <div class="hidden popup animation-container">
                        <h3 class="smaller-header">
                            {{ index_content.get('second_step_title_1', '')|raw|nl2br }}
                        </h3>
                        <img src="/bundles/lscore/front/images/guarantee.png" alt="100% pewności" />
                    </div>
                </li>
                <li>
                    <div class="hidden popup animation-container">
                        <h3 class="smaller-header">
                            {{ index_content.get('second_step_title_2', '')|raw|nl2br }}
                        </h3>
                        <img src="/bundles/lscore/front/images/desk.png" alt="Doświadczony lekarz" />
                    </div>
                </li>
            </ul>
        </div>
        <div id="third-step" class="section">
            <div class="container">
                <h2 class="section-header hidden left-slide">
                    {{ index_content.get('third_step_title', '')|raw|nl2br }}
                </h2>
                <img class="hidden left-slide" src="/bundles/lscore/front/images/watch.png" alt="Zależy Ci na czasie i cenie?" />
                <img class="hidden left-slide mobile" src="/bundles/lscore/front/images/watch-mobile.png" alt="Zależy Ci na czasie i cenie?" />
            </div>
        </div>
        <div class="about-us-section">
            <div class="container">
                <img src="/bundles/lscore/front/images/ok-icon.png" alt="Trafiłeś we właściwe miejsce" />
                <div class="rounded-container">
                    <h2>{{ index_content.get('end_step_title', '')|raw|nl2br }}</h2>
                    <ul class="unstyled flex-inline" id="about-us-list">
                        {% set indexList = index_content.get('index_list', '')|raw|nl2br|split(',') %}
                        {% for item in indexList %}
                            <li class="popup">
                                <p>
                                    {{ item }}
                                </p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="testimonials">
            {% if opinions|length > 0 %}
                <div class="container">
                    <img class="hidden popup" src="/bundles/lscore/front/images/qoute.png" alt="Opinie" />
                    <div id="prev"></div>
                    <div id="next"></div>
                    <ul class="testimonial-slider unstyled">
                        {% for opinion in opinions %}
                            <li>
                                {{ opinion.content|raw }}
                                <p class="who">
                                <span>{{ opinion.name }}</span><br />
                                {{ opinion.city }}
                            </p>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="make-order-section">
            <div class="container">
                <h2>
                    {{ index_content.get('footer_order_title', '')|raw|nl2br }}
                </h2>
                <a href="{{ path('ls_order_new') }}" class="filled-button">
                    Złóż zamówienie
                    <p>Złóż zamówienie</p>
                </a>
            </div>
        </div>
        <div class="payment-section">
            <div class="container">
                <div class="faq-info">
                    <h3>{{ index_content.get('footer_info_title', '')|raw|nl2br }}</h3>
                        {{ index_content.get('footer_info_content', '')|raw }}
                </div>
                <div class="payment-logos">
                    <h3>Obsługujemy płatności</h3>
                    <div class="logos inline-flex">
                        <img src="/bundles/lscore/front/images/master-card-logo.png" alt="MasterCard" />
                        <img src="/bundles/lscore/front/images/visa-logo.png" alt="VISA" />
                        <img src="/bundles/lscore/front/images/american-express-logo.png" alt="American Express" />
                        <img src="/bundles/lscore/front/images/discover-logo.png" alt="Discover" />
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer" id="kontakt">
            <div class="container">
                <div class="collapse navbar-collapse bottom-nav">
                    {{ knp_menu_render(menuTop, {'template': 'LsCoreBundle:Backend:menu.html.twig'}) }}
                </div>
                <div class="company-info">
                    <p>
                        Mastermind Translations Ltd t/a Medokum is a limited company <br/>
                        registered in England and Wales no. 09750111.<br/>
                        Registered office: Office 118, 20 Winchcombe Street, Cheltenham GL52 2LY, United Kingdom<br/>
                    </p>
                    <div class="contact-mail">hello@medokum.co.uk</div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}
