/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-05-11, 15:13:31
    Author     : Tomasz Jacek
*/
@import "scss/_variables.scss";
@import "scss/_mixins.scss";
@import "scss/_animations.scss";

body {
    color: $default-text-color;
    font: {
        family: 'Rubik', sans-serif;
        size: 16px;
    }
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.inline-flex {
    display: inline-flex;
    width: 100%;
}
.automated-height {
    height: auto !important;
}

.naglowek {
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
}

.whity {
    color: #fff !important;
}

a {
    color: #000;
    text-decoration: none;
    &.filled-button, &.empty-button {
        display: block;
        line-height: 45px;
        height: 45px;
        width: 185px;
        text-align: center;
    }
    
    &.filled-button {
        @include position(relative, 1001);
        background-color: $filled-button-color;
        border-radius: $button-border-radius;
        overflow: hidden;
        color: #fff;
        p {
            @include position(absolute, 1003);
            color: #313131;
            top: 0;
            left: 0;
            margin: 0;
            opacity: 0;
            transition: opacity .3s;    
            height: 100%;
            width: 100%;
        }
        &:before, &:after {
            @include position(absolute, 1002);
            background-color: #fff;
            content: "";
            display: block;
            height: $filled-btn-width;
            transition: all .3s;
            transform: rotate(-10deg);
            width: $filled-btn-width
        }
        &:before {
            left: -200px;
            bottom: 0;
        }
        &:after {
            right: -200px;
            top: 0;
        }
        &:hover {
            color: $filled-button-color;
            z-index: 1003;
            p {
                opacity: 1;
            }
            &:before, &:after {
                transform: rotate(45deg);
            }
            &:before {
                left: -45px;
            }
            &:after {
                right: -45px;
            }
        }
    }
}

.container {
    margin: 0 auto;
    width: 1060px;
}
.flex-container {
    display: flex;
}
.hidden {
    opacity: 0;
    margin-left: 0 !important;
    margin-right: -9999px !important;
    text-align: left;  
    transition: margin $margin-timeout, opacity .1.5s, scale $margin-timeout;
    &.small-slide {
        margin-right: -70px !important;
    }
    &.left-slide {
        margin-right: 0 !important;
        margin-left: -9999px !important;
        text-align: right;
    }
    &.popup {
        margin: {
            right: 0 !important;
            left: 0 !important;
        }
        transform: scale(0) !important;
    }
}
ul {
    &.unstyled {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &.flex-inline {
        display: inline-flex;
        flex-wrap: wrap;
    }
}

.subpage-header {
    font: {
        size: 30px;
        weight: 500;
    }
    margin: 75px auto 55px;
    text-align: center;
}

/*Mainpage*/

.nav-section {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .collapsed-close-btn {
        display: none;
    }
    .collapsed-nav-trigger {
        cursor: pointer;
        display: none;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        height: 24px;
        width: 30px;
        span {
            border-radius: 2px;
            display: block;
            height: 3px;
            background-color: #fff;
            content: "";
            width: 100%;
        }
    }
    ul.nav {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 315px;
        li {
            a {
                border-bottom: 2px solid transparent;
                transition: border .3s, color .3s;
                font-size: 14px;
            }
            &:hover {
                a {
                    border-color: $nav-hover-color;
                    color: $nav-hover-color;
                }
            }
        }
    }
}

#index-page {
    overflow-x: hidden;
}

.header {
    position: relative;
    background: url("../images/header-bg.jpg") no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
    min-height: 700px;
    width: 100%;
    &:after {
        @include position(absolute, 1002);
        background-color: rgba(#192853, 0.7);
        content: "";
        display: block;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
    }
    a.close-btn {
        display: none;
    }
    .container {
        position: relative;
        height: 100%;
    }
    .nav-section {
        @include position(relative, 10010);
        padding-top: 35px;
        ul.nav {
            width: 350px;
        }
    }
    .brand {
        @include position(relative, 1004);
        height: auto;
        
        .mobile {
            display: none;
        }
    }
    .flex-container {
        align-items: center;
        flex-wrap: wrap;
    }
    .next-move {
        @include position(absolute, 1004);
        left: 0;
        right: 0;
        bottom: 97px;
        margin: auto;
        text-align: center;
    }
    .header-text {
        align-self: center;
        text-align: center;
        margin: 20% auto 0;
        width: 100%;
        @include position(relative, 1004);
        h2 {
            color: #fff;
            margin: 0 auto 40px;
            max-width: 80%;
            font: {
                size: 40px;
                weight: 500;
            }
        }
        .inline-buttons {
            @include position(relative, 1004);
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            .empty-button {
                &:hover {
                    color: $empty-button-color;
                }
            }
        }
    }
    a {
        color: #fff;
        display: inline-block;
        &.back-to-homepage-btn {
            display: none;
        }
    }
    #see-more-button {
        @include position(relative, 1004);
        margin: 0 auto;
        text-align: center;
        img {
            display: block;
        }
        i {
            @include position(absolute, 1002);
            animation: droppingarrow 1s infinite; 
            -webkit-animation: droppingarrow 1s infinite;
            margin: auto;
            left: 0;
            right: 0;
            font: {
                size: 36px;
            }
        }
    }
}
.main-page-content {
    @include position(relative, 1002);
    &:after {
        @include position(absolute, 1002);
        content: "";
        background: url("../images/line.png") no-repeat;
        background-size: contain;
        background-position: top center;
        display: block;
        top: -83px;
        left: 259px;
        margin: auto;
        right: 0;
        height: 2019px;
        width: 466px;
    }
    .section {
        text-align: center;
        .section-header, img {
            margin-right: 0;
            transition: margin $margin-timeout , opacity $opacity-timeout, scale $margin-timeout;
        }
    }
    .section-header {
        @include position(relative, 1003);
        font: {
            size: 40px;
            weight: 500;
        }
        letter-spacing: -0.01em;
        margin: 0;
        span {
            color: $section-header-color;
        }
    }
    /*Steps*/
    #first-step {
        min-height: 528px;
        padding: 155px 0 80px;
        img {
            margin-top: 46px;
            transform: scale(1);
            transition: all $margin-timeout;
        }
    }
    #second-step {
        margin-bottom: 45px;
        ul {
            display: inline-flex;
            align-items: stretch;
            width: 100%;
            padding-bottom: 85px;
            
            li {
                width: 50%;
                .animation-container {
                    opacity: 1;
                    transition: all $margin-timeout;
                    transform: scale(1);    
                }
                img {
                    margin-bottom: -105px;
                    transition: all $scale-timeout;
                    transform: scale(1);    
                }
                &:first-child {
                    background-color: #3f78f1;
                    margin-bottom: 20px;
                    padding-right: 90px;
                    padding-bottom: 37px;
                    text-align: right;
                    h3.smaller-header {
                        font: {
                            size: 26px;
                            weight: 500;
                        }
                        margin: 132px 0 65px;
                        line-height: 1.4em;
                    }
                    h3.smaller-header, img {
                        margin-right: 40px;
                    }
                }
                &:last-child {
                    background-color: #3b67c4;
                    margin-top: 20px;
                    padding-left: 90px;
                    text-align: left;
                    h3.smaller-header {
                        margin-top: 105px;
                        margin: 145px 0 65px;
                    }
                    img {
                        margin-left: 41px;
                    }
                }
            }
            h3.smaller-header {
                color: #fff;        
                font: {
                    size: 26px;
                    weight: 500;
                }
                margin: 112px 0 65px;
                
                transition: margin $margin-timeout, opacity $opacity-timeout;
                span {
                    color: $section-header-secondary-color;
                    max-width: 390px;
                    display: inline-block;
                }
            }
        }
    }
    #third-step {
        @include position(relative, 1001);
        
        .container {
            position: relative;
            &:after {
                @include position(absolute, 1002);
                background-color: #fff;
                content: "";
                display: block;
                right: 58.5%;
                bottom: 0;
                width: 40%;
                height: 100%;
            }
        }
        img {
            margin: {
                top: -105px;
                left: 47px;
            }
            
            &.mobile {
                display: none;
            }
        }
        .hidden.left-slide {
            margin-left: -250px !important;
        }
        .section-header {
            margin-left: 45.5%;
            text-align: left;
            font-size: 30px;
            padding-top: 6px;
        }
    }
    .about-us-section {
        margin-top: 40px;   
        overflow-x: hidden;
        
        .container {
            text-align: center;
            img {
                margin: 75px 0 52px;
            }
        }
        .rounded-container {
            @include position(relative, 1001);
            border: 2px solid $rounded-container-border-color;
            border-radius: 25px;
            width: 100%;
            border-radius: 25px;
            width: calc(100% + 75px);
            margin-left: -40px;
            
            h2 {
                $height: 60px;
                @include position(absolute, 1002    );
                background-color: #fff;
                color: $border-container-header-color;
                font: {
                    size: 45px;
                    weight: 500;
                }
                top: -30px;
                left: 0;
                right: 0;
                margin: 0 auto;
                height: $height;
                text-align: center;
                width: 700px;
            }
            ul {
                align-items: stretch;
                align-content: center;
                justify-content: space-between;
                padding: 0 70px;
                padding-top: 59px;
                padding-bottom: 38px;
                padding-left: 77px;
                li {
                    $padding-value: 35px;
                    font: {
                        size: 18px;
                    }
                    
                    margin: 45px 0;
                    margin-bottom: 21px;
                    opacity: 0;
                    transition: opacity .4s;
                    width: 28%;
                    &:before {
                        $value: 13px;
                        background: url("../images/ellipse.png") no-repeat;
                        background-size: cover;
                        background-position: center center;
                        content: "";
                        display: inline-block;
                        margin: {
                            right: 12px;
                        }
                        height: $value;
                        width: $value;
                    }
                    p {
                        display: inline-block;
                        text-align: left;
                        margin: -3px 0 0;
                        vertical-align: top;
                        width: 185px;
                    }
                    &:before, p {
                        vertical-align: top;
                    }
                }
            }
        }
    }
    .testimonials {
        text-align: center;
        padding: {
            bottom: 55px;
        }
        img {
            margin: 75px auto 39px;
            transform: scale(1);
            transition: opacity $opacity-timeout, scale $scale-timeout;
        }
        .container {
            @include position(relative, 1001);
            width: 1050px;
        }
        .testimonial-slider {
            text-align: left;
            p {
                @include position(relative, 1003);
                background-color: #fff;
                margin: 0 auto;
                line-height: 160%;
                font-style: italic;
                text-align: center;
                width: 700px;
                &.who {
                    color: #b7b7b7;
                    font-style: normal;
                    margin: 29px auto;
                    text-align: center;
                    span {
                        color: #000;    
                        font: {
                            weight: 600;
                        }
                    }
                }
            }
        }
        #prev, #next {
            @include position(absolute, 1002);
            background: url("../images/slider-button.png") no-repeat;
            cursor: pointer;
            display: block;
            top: 45%;
            height: 74px;
            width: 36px;
            a {
                @include position(absolute, 1003);
                top: 0;
                height: 100%;
                width: 100%;
            }
            img {
                @include position(absolute, 1003);
                opacity: 0;
                top: 0;
                left: 0;
                height: 0;
                width: 0;
            }
            &:hover {
                background: url("../images/slider-button-hover.png") no-repeat;
            }
        }
        #prev {
            left: 0;
            a {
                left: 0;
            }
        }
        #next {
            transform: rotate(180deg);
            right: 0;
            a {
                right: 0;
            }
        }
        .bx-wrapper {
            @include position(relative, 1001);
            /*Override of default slider setting.*/
            margin: 0 auto;
            max-width: 90% !important;
            ul {
                li {
                    width: 955px !important;
                }
            }
        }
    }
    .make-order-section {
        background: url("../images/order-bg.jpg") no-repeat;
        background-position: top center;
        background-size: cover;
        content: "";
        display: flex;
        align-items: center;
        justify-content: center;
        height: 455px;
        width: 100%;
        h2 {
            color: #fff;
            font: {
                size: 35px;
                weight: 500;
            }
            text-align: center;
            margin: 0 auto;
            max-width: 740px;
            margin-top: 22px;
            letter-spacing: -0.01em;
            line-height: 1.45em;
        }
        a {
            margin: 38px auto 0;
        }
    }
    .payment-section {
        .container {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 96px 0 102px;
            position: relative;
            
            &:before {
                content: "";
                background: #b7b7b7;
                width: 2px;
                height: 113px;
                position: absolute;
                top: 102px;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
            
            .faq-info, .payment-logos {
                text-align: center;
                padding: 0 30px;
                width: 440px;
                h3 {
                    margin-left: 14px;
                }
                
                img {
                    margin-right: -5px;
                }
            }
            .faq-info {
                p {
                    font: {
                        size: 18px;
                    }
                    margin: 0 auto;
                    max-width: 360px;
                }
                a {
                    font: {
                        weight: 500;
                    }
                    text-decoration: underline;
                }
            }
            .payment-logos {
                .logos {
                    max-width: 325px;
                    align-items: center;
                    justify-content: space-between;
                }
            }
            h3 {
                margin: 0 0 28px;
                font: {
                    size: 28px;
                    weight: 500;
                }
            }
        }
    }
}
.footer {
    background-color: $footer-bg-color;
    color: $footer-text-color;
    text-align: center;
    padding: 35px 0 25px;
    width: 100%;
    a {
        color: $footer-text-color;
        font: {
            size: 14px;
        }
    }
    .bottom-nav {
        ul {
            display: inline-flex;
            list-style: none;
            padding: 0;
            margin: 0;
            justify-content: space-between;
            width: 350px;
            li {
                border-bottom: 2px solid transparent;
                transition: border .3s;
                margin-left: -7px;
                margin-right: 6px;
                
                &:hover {
                    border-color: $footer-text-color;
                }
            }
        }
    }
    p {
        font: {
            size: 12px;
        }
        margin: 37px auto 0;
        line-height: 160%;
        max-width: 100%;
    }
    
    .contact-mail {
        background: url('../images/icon-email.png') center left no-repeat;
        font-weight: bold;
        color: #5e5e5e;
        font-size: 12px;
        display: inline-block;
        padding-left: 21px;
        margin-left: -11px;
        margin-top: 7px;
    }
}
.copyright-section {
    background-color: $copyright-bg-color;
    color: $copyright-text-color;
    display: flex;
    align-items: center;
    text-align: center;
    height: $copyright-section-height;
    font: {
        size: 12px;
    }
    p {
        margin: 0 auto;
        line-height: 160%;
        max-width: 100%;
    }
    a {
        color: $copyright-text-color;
    }
    img {
        vertical-align: middle;
    }
}

/*Making order*/
.close-btn {
    display: block;
    margin: 50px 0 0;
    text-align: right;
}
.order-form {
    $padding-value: 15px;
    max-width: 1060px;
    min-height: 360px;
    margin: 0 auto 50px;
    .orders-form-section {
        display: none;
        h3 {
            max-width: 540px;
            margin: 20px auto;
            margin-bottom: 44px;
            font: {
                size: 20px;
                weight: 400;
            }
            text-align: center;
        }
        input, select, textarea {
            border: 1px solid $border-input-color;
            border-radius: $main-border-radius;
            box-sizing: border-box;
            color: #313131;
            height: 40px;
            margin: 10px 0 20px;
            padding: 0 $padding-value;
            width: 100%;
            outline: 0;
            
            &:hover {
                border: 1px solid #09d0c1;
            }
        }
        input {
            &[type="date"] {
                width: calc(100% - #{$padding-value} * 2);
            }
            
            &.valid {
               background: url('../images/valid-input.png') right 13px center no-repeat;
            }
            
            &.invalid {
                border: 1px solid #ff5757;
            }
            
            &.datepicker {
                background: url('../images/date.png') 98.6% 50% no-repeat;
            }
        }
        &.active-section {
            display: block;
        }
    }
    .narrow-section {
        margin: 0 auto;
        max-width: 620px;
    }
    .input-container {
        @include position(relative, 1001);
        display: flex;
        justify-content: center;
        width: 100%;
        ul {
            @include position(relative, 1003);
            margin: 0;
            top: 0px;
            width: 240px;
            list-style-type: circle;
            li {
                font: {
                    size: 12px;
                }
                line-height: 160%;
            }
        }
        p {
            text-align: center;
            width: 160px;
            &.price {
                color: $price-color;
                    font: {
                    size: 20px;
                    weight: 500
                }
            }
        }
    }
    .order-kind-section {

        .form-control {
            display: inline-flex;
            justify-content: space-around;
            width: 100%;
            align-items: center;
        }
        label {
            @include position(absolute, 1005);
            @include rounded-box(280px, 175px);
            top: 0;
            input {
                &:after {
                    margin-top: 30px;
                }
            }
            span {
                @include position(absolute, 1002);
                border: 2px solid $important-form-color;
                border-radius: 20px;
                background-color: #fff;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 0;
                left: 0;
                right: 0;
                height: 75px;
                margin: 0 auto;
                width: 160px;
                &.active-input {
                    background-color: $input-active-color;
                    /*Overriding default with important*/
                    border-color: $input-active-color !important;
                    box-shadow: none !important;
                    color: #fff;
                }
            }
        }
        .input-container {
            flex-wrap: wrap;
            &:first-child {
                label {
                    span {
                        border-color: #966a39;
                    }
                    input:after {
                        border-color: $make-order-border-color;
                    }
                }
            }
            &:last-child {
                label {
                    span {
                        border-color: #ead76e;
                    }
                    input:after {
                        border-color: $make-order-border-color;
                    }
                }
            }
            &:nth-child(2) {
                margin-top: -20px;
                label{
                    &:after {
                        bottom: -35px;
                    }
                }
            }
            &.default {
                label {
                    span {
                        box-shadow: 0 0 0 5px $shadow-form-color;
                    }
                }
            }
            
            label {
                position: absolute;
                z-index: 1005;
                top: 0;
                bottom: 0;
                left: 20px;
                right: 20px;
                cursor: hand;
                cursor: pointer;
                
                &:after {
                    content: "";
                    position: absolute;
                    top: 39px;
                    left: 16px;
                    right: 16px;
                    bottom: -16px;
                    border: 2px solid $make-order-border-color;
                    border-radius: 20px;
                }
                
                input {
                    position: absolute;
                    width: 100%;
                    &:after {
                        display: none;
                    }
                }
                span {
                    position: relative;
                }
            }
            
            .kind-content {
                float: left;
                width: 78%;
                margin-top: 100px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                
                p {
                    font-size: 12px;
                    width: 100%;
                    padding-left: 26px;
                    text-align: left;
                }
            }
        }
    }
    .left-part {
        width: 240px;
        label {
            display: inline-flex;
            align-items: center;
            width: 100%;
        }
        input, span {
            width: auto;
        }
    }
    .right-part {
        display: inline-flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 700px;
        .form-group {
            width: 340px;
        }
        #form_order_expiration {
            display: inline-flex;
            justify-content: space-between;
            width: 100%;
            select {
                width: 160px;
                &#form_order_expiration_day {
                    display: none;
                }
            }
        }
    }
    .order-priority-section {
        .form-control {
            width: 100%;
            display: inline-flex; 
            justify-content: space-between;
        }
        label {
            position: absolute;
            @include rounded-box(275px, 75px);
            display: inline-flex;
            height: 75px;
            cursor: pointer;
        }
        .input-container {
            height: 85px;
            p {
                @include position(absolute, 1004);
                bottom: 0;
                text-align: center;
                width: 275px;
            }
            &.default {
                label {
                    input:after {
                        border-color: $important-form-color;
                        box-shadow: 0 0 0 5px $shadow-form-color;
                    }
                }
            }
        }
        input {
            height: 100%;
            margin: 0;
            &.active-input {
                &:after {
                    /*Overridding default with important*/
                    background-color: $input-active-color !important;
                    border-color: $input-active-color !important;
                    box-shadow: none !important;
                    color: #fff;
                }
            }
        }
        span {
            @include position(absolute, 1005);
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            right: 0;
            height: 60px;
            margin: 0 auto;
            width: 160px;
            padding: 0;
        }
    }
    .delivery-way-section {
        
        h3 {
            margin-bottom: 69px;
        }
        
        .inline-flex {
            justify-content: space-between;
        }
        
        .left-part {
            label {
                flex-wrap: wrap;
                margin-bottom: 20px;
            }
        }
        
        .right-part {
            .form-group {
                &:last-child {
                    width: 100%;
                }
            }
        }
    }
    .order-payments-section {
        .inline-flex {
            justify-content: space-between;
        }
        .logos {
            align-items: center;
            justify-content: space-between;
            margin: {
                top: 50px;
            }
            img {
                max-width: 49px;
            }
        }
        a {
            color: $main-form-color;
            font: {
                size: 14px;
                weight: 500;
            }
        }
        p {
            margin: 10px 0 5px;
            font: {
                size: 16px;
            }
            &.price {
                margin: 10px 0;
                font: {
                    size: 25px;
                }
            }
            
        }
        .discount {
            .active {
                background: url('../images/checked.png') left center no-repeat;
                padding-left: 20px;
                color: #313131;

                span {
                    color: #09d0c1;
                }
            }
        }
    }
    .file-input-container {
        @include position(relative, 1001);
        display: inline-flex;
        align-items: flex-start;
        margin-bottom: 30px;
        > div {
            display: block;
            height: 45px;
            width: 100%;
        }
        input {
            @include position(relative, 1003);
            display: none;
            margin-right: 20px;
        }
        ul {
            display: inline-flex;
            align-items: center;
            &.filenames {
                display: block;
                margin-top: 5px;
                li {
                    color: #3f78f1;
                    font: {
                        size: 12px;
                        weight: 700;
                    }
                    display: block;
                    margin: 1px 0;
                    width: 100%;
                    i {
                        margin-right: 3px;
                    }
                }
            }
        }
        label {
            font: {
                weight: 500;
            }
            margin-right: 10px;
            span {
                font: {
                    weight: 400;
                    size: 12px;
                }
            }
        }
        .file-input {
            @include position(absolute, 1010);
            cursor: pointer;
            opacity: 0;
        }
        .file-button {
            $size: 45px;
            background-color: $main-form-color;
            border-radius: 5px;
            content: "";
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 10px 0 0;
            height: $size;
            width: $size;
            i {
                color: #fff;
            }
        }
    }
    .radio-input {
        input {
            @include position(relative, 1001);
            $size: 20px;
            visibility: hidden;
            cursor: pointer;
            margin: 0 15px 0 0;
            width: $size;
            &:after {
                @include position(absolute, 1002);
                border: 2px solid $main-form-color;
                border-radius: 50%;
                left: 1px;
                top: 3px;
                content: '';
                height: 14px;
                visibility: visible;
                width: 14px;
            }
            &:before {
                @include position(absolute, 1002);
                background-color: $main-form-color;
                border-radius: 50%;
                left: 6px;
                top: 8px;
                margin: auto;
                content: '';
                opacity: 0;
                height: 8px;
                visibility: visible;
                width: 8px;
            }
            &:checked {
                &:before {
                    opacity: 1;
                }
            }
        }
        span {
            margin-top: -15px;
            
            &.info {
                font-size: 12px;
                margin-left: 35px;
                text-align: left;
            }
        }
    }
    .wydruk {
        display: none;
    }
    .pdf.wydruk {
        display: block;
    }
    .has-tooltip {
        &:hover {
            .tooltip {
                opacity: 1;
            }
        }
    }
    .tooltip {
        @include position(relative, 1001);
        background-color: $tooltip-bg-color;
        border-radius: $tooltip-border-radius;  
        color: #fff;
        float: right;
        font: {
            size: 12px;
        }
        opacity: 0;
        margin-top: -10px;
        transition: opacity .4s;
        padding: 15px;
        max-width: 70%;
        &:before {
            $value: 10px;
            @include position(absolute, 1002);
            background-color: $tooltip-bg-color;
            content: "";
            transform: rotate(45deg);
            height: 10px;
            top: -5px;
            width: 10px;
        }
    }
}
.form-footer {
    position: relative;
    border-top: 2px solid #c1c1c1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto 210px;
    padding: 0 60px;
    padding-top: 50px;
    max-width: 940px;
    width: 100%;
    
    #required-message {
        position: absolute;
        top: -30px;
        right: 60px;
        color: #ff5757;
        font-size: 12px;
        display: none;
    }
    
    .calculated-price {
        span {
            font: {
                size: 20px;
            }
        }
    }
    .buttons {
        $height: 45px;
        a, input {
            display: inline-block;
            color: #000;
            height: $height;
            line-height: $height;
            font: {
                size: 16px;
            }
            text-align: center;
            text-decoration: none;
            width: 145px;
        }
        input {
            cursor: pointer;
            display: none;
            height: 49px;
            width: 149px;
        }
        
        #next-step, #submit {
            background-color: $main-form-color;
            border: 2px solid transparent;
            border-radius: $main-border-radius;
            color: #fff;
        }
        #previous-step {
            display: none;
            &:hover {
                text-decoration: underline;
            }
        }
        #paypal-button {
            display: none;
            margin-top: 20px;
        }
    }
}

.md-modal {
    .head {
        position: relative;
        font-size: 16px;
        font-weight: 500;
        color: #313131;
        float: left;
        width: 100%;
        text-align: center;
        padding: 14px 0 13px;
        border-bottom: 2px solid #e1e1e1;
        
        .md-close {
            position: absolute;
            top: 15px;
            right: 16px;
            width: 11px;
            height: 11px;
            cursor: pointer;
            padding: 5px;
            margin: 0;
            
            img {
                float: left;
                width: 100%;
            }
        }
    }
    
    .code-form {
        width: 100%;
        text-align: center;
        display: inline-block;
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
        
        .message {
            height: 39px;
            
            p {
                color: red;
            }
        }
        
        .form-body {
            width: 335px;
            margin: 0 auto;
            padding-top: 0px;
            padding-bottom: 40px;
            
            .form-group {
                width: 100%;
                
                label {
                    float: left;
                    color: #313131;
                }
                
                .form-control {
                    border: 1px solid #c1c1c1;
                    border-radius: 5px;
                    box-sizing: border-box;
                    color: #313131;
                    height: 45px;
                    margin: 10px 0 10px;
                    padding: 0 15px;
                    width: 100%;
                }
            }
        }        
    }
    
    #accept-code {
        background-color: $main-form-color;
        border: 2px solid transparent;
        border-radius: $main-border-radius;
        color: #fff;
        font-family: 'Rubik', sans-serif;
        font-size: 16px;
        width: 100%;
        height: 45px;
        margin-bottom: 17px;
        cursor: pointer;
        cursor: hand;
    }
}

.steps {
    @include position(relative, 1003);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 940px;
    .line {
        $value: -6px;
        @include position(absolute, 1001);
        background-color: $steps-main-color;
        content: "";
        top: calc(50% - #{$circle-size} / 2);
        left: 4%;
        height: 4px;
        width: 90%;
        &:before {
            @include position(absolute, 999);
            background-color: transparent;
            border: {
                top: 1px solid $steps-main-color;
                bottom: 1px solid $steps-main-color;
            }
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            height: 8px;
            width: 100%;
            content: "";
        }
        .line-overlay {
            @include position(absolute, 1010);
            background: linear-gradient(to left, $active-step-color 40px, $main-form-color 180px);
            content: "";
            display: block;
            top: 0;
            left: 0;
            transition: width .4s;
            width: 0;
            height: 100%;
        }
    }
    ul {
        @include position(relative, 1004);
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        li {
            font: {
                size: 14px;
            }
            margin-left: -25px;
            margin-right: 0px;
            text-align: center;
            p {
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 32px;
                max-width: 105px;
                margin-top: 9px;
            }
            &.active {
                .smaller-circle {
                    @include position(relative, 1001);
                    background-color: $active-step-color;
                    &:first-child:after {
                        background-color: $active-step-color;
                    }
                }
            }
            &.post-active {
                .smaller-circle {
                    background-color: $main-form-color;
                }
            }
        }
    }
    .bigger-circle {
        @include position(relative, 1001);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto; 
        border: 2px solid $steps-main-color;
        border-radius: 50%;
        line-height: $circle-size;
        height: $circle-size;
        width: $circle-size;
    }
    .smaller-circle {
        @include position(relative, 1001);
        background-color: $steps-main-color;
        border-radius: 50%;
            font: {
                size: 22px;
            }
        height: calc(#{$circle-size} - 4px);
        width: calc(#{$circle-size} - 4px);
        &:after {
            @include position(absolute, 1002);
            top: 0;
            left: 0;
            background-color: $active-step-color;
            content: "OK";
            border-radius: 50%;
                font: {
                    size: 22px;
                }
            height: 100%;
            opacity: 0;
            width: 100%;
        }
        .smaller-circle-overlay {
            @include position(absolute, 1002);
            background-color: $main-form-color;
            border-radius: 50%;
            opacity: 0;
            left: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
        }
    }
}

.mobile-steps {
    display: none;
}

/*Subpage header override*/
.subpage-top {
    background: none;
    background-color: $subpage-top-color;
    height: $subpage-top-height;
    min-height: $subpage-top-height;
    &:after {
        display: none;
    }
    .navbar, .header-text, .next-move {
        display: none;
    }
    a {
        &.back-to-homepage-btn {
            display: block;
            width: 215px;
            &:after, &:before {
                width: 188px;
            }
            &:before {
                left: -220px;
            }
            &:after {
                right: -220px;
            }
            &:hover {
                &:before {
                    left: -55px;
                }
                &:after {
                    right: -55px;
                }
                
            }
        }
    }
}
.faq-top {
    display: none !important;
}
.form-container {
    .order-error {
        font-size: 18px;
        float: left;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
        color: red;
    }
    
    .subpage-header {
        margin-top: -24px;
        margin-bottom: 37px;
    }
}

.subpage {
    margin-top: -73px;
    min-height: $subpage-height;
    > h1 {
        @include position(relative, 1002);
        color: #fff;
        font: {
            size: 35px;
            weight: 500;
        }
        margin: 0;
        span {
            font: {
                size: 20px;
                weight: 300;
            }
        }
    }
    .subpage-content {
        font: {
            size: 12px;
        }
        line-height: 160%;
        margin: 75px 0 95px;
        h1 {
            color: #313131;
        }
        ul {
            list-style-type: circle;
            padding: 0 0 0 15px;
            margin: 0;
        }
    }
}

.faq-content {
    margin-top: 95px;
    .category-name {
        font: {
            size: 16px;
            weight: 400;
        }
    }
    ul {
        li {
            border: 2px solid $faq-border-color;
            border-radius: $faq-border-radius;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            height: 45px;
            transition: height .4s;
            margin: 3px 0;
            padding: 0 15px;
            width: 100%;
            .content {
                display: none;
                margin-left: calc(2% + 20px);
                min-height: 250px;
                width: 100%;
                p {
                    font: {
                        size: 12px;
                    }
                }
            }
            p, i {
                display: inline-block;
                margin: 15px 0 0 10px;
                font: {
                    size: 14px;
                    weight: 500;
                }
            }
            p {
                width: 96%;
            }
            i {
                margin-top: 13px;
                width: 2%;
                &.fa-question-circle {
                    font: {
                        size: 20px;
                    }
                }
                &.fa-plus {
                    color: $faq-plus-sign-color;
                    cursor: pointer;    
                }
                &.fa-minus {
                    cursor: pointer;
                }
            }
            .inline-flex {
                height: 100%;
                width: 100%;
            }
            
            .open-faq {
                cursor: hand;
                cursor: pointer;
            }
        }
    }
}
.ending-container {
    min-height: 100vh;
    padding-top: 110px;
    text-align: center;
    .check-icon {
        $size: 75px;
        background-color: $main-form-color;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        margin: 0 auto;
        height: $size;
        width: $size;
    }
    h2 {
        font: {
            size: 30px;
            weight: 500;
        }
        margin: 45px auto 15px;
    }
    .ending-description {
        line-height: 170%;
        margin-bottom: 45px;
    }
    .bordered-box {
        border: 2px solid $make-order-border-color;
        border-radius: $rounded-container-border-radius;
        padding: 40px;
        width: calc(100% - 80px);
        ul {
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            height: 100%;
            width: 100%;
            li {
                margin: 0 auto;
            }
            p {
                font: {
                    size: 12px;
                }
                margin-top: 0;
                &.field-name {
                    font: {
                        size: 16px;
                    }
                    margin-bottom: 2px;
                }
            }
        }
    }
    a.filled-button {
        margin: 30px auto 0;
        p {
            color: #fff;
            transition: none;
        }
        &:before, &:after {
            background-color: $darkend-button-color;
        }
    }
}

@import "scss/_rwd.scss"