* {
    font-family: 'Rubik', sans-serif;   
    font-size: 12px;
    color: #313131; 
    line-height: 150%;
}
.naglowek {
    font-size: 18px;
    font-weight: 400;
}
ul {
    list-style-type: circle;
    padding: 0 0 0 15px;
    margin: 0;
}