{% extends 'form_div_layout.html.twig' %}

{% block form_label %}
    {% if not compound %}
    {% set label_attr = label_attr|merge({'for': id}) %}
{% endif %}
    {% if required %}
    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
{% endif %}
    {% if label is empty %}
    {% set label = name|humanize %}
{% endif %}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|raw }}</label>
{% endblock form_label %}

{% block choice_widget_expanded %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {% if child.vars.full_name == 'form_order[kind]' %}
                    <div class="input-container{% if child.parent.vars.choices[child.vars.name|trans].data.default %} default{% endif %}">
                        {{ form_widget(child) }}
                        <div class="kind-content">
                            {{ child.parent.vars.choices[child.vars.name|trans].data.content|raw }}
                        </div>
                    </div>
                {% elseif child.vars.full_name == 'form_order[priority]' %}
                    <div class="input-container{% if child.parent.vars.choices[child.vars.name|trans].data.default %} default{% endif %}">
                        {{ form_widget(child) }}
                        <p class="price">&pound; 0.00</p>
                    </div>
                {% else %}
                    {{ form_widget(child) }}
                {% endif %}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{%- block choice_widget_collapsed -%}
    {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
        {% set required = false %}
    {%- endif -%}
    <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
        {%- if placeholder is not none -%}
            <option value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
        {%- endif -%}
        {%- if preferred_choices|length > 0 -%}
            {% set options = preferred_choices %}
            {{- block('choice_widget_options') -}}
            {%- if choices|length > 0 and separator is not none -%}
                <option disabled="disabled">{{ separator }}</option>
            {%- endif -%}
        {%- endif -%}
        {%- set options = choices -%}
        {{- block('choice_widget_options') -}}
    </select>
{%- endblock choice_widget_collapsed -%}

{%- block choice_widget_options -%}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <optgroup label="{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}">
                {% set options = choice %}
                {{- block('choice_widget_options') -}}
            </optgroup>
        {%- else -%}
            {% set attr = choice.attr %}
            <option value="{{ choice.value }}" {{ block('attributes') }}{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ choice_translation_domain is same as(false) ? choice.label : choice.label|trans({}, choice_translation_domain) }}</option>
        {%- endif -%}
    {% endfor %}
{%- endblock choice_widget_options -%}

{% block checkbox_widget %}
    {% spaceless %}
        <label class="checkbox" for="{{ id }}">
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            <span>{{ label|trans }}</span>
        </label>
    {% endspaceless %}
{% endblock checkbox_widget %}

{% block radio_widget %}
    {% spaceless %}
        <label class="radio" for="{{ id }}">
            {% if label|trans == "Wydruk" %}
                <input data-price="{{ cms_config.get('delivery_cost', '10') }}" type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            {% elseif label|trans == "Format PDF" %}
                <input data-price="0" type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            {% else %}
                <input type="radio" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            {% endif %}    
            <span>{{ label|trans }}</span>
            {% if label|trans == "Format PDF" %}
                <span class="info">(tłumaczenie przesłane e-mailem)</span>
            {% elseif label|trans == "Wydruk" %}
                <span class="info">(tłumaczenie przesłane na wskazany adres w Wielkiej Brytanii)</span>
            {% endif %}
        </label>
    {% endspaceless %}
{% endblock radio_widget %}

{% block google_recaptcha_widget %}
    {% spaceless %}
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <div data-sitekey="{{ site_key }}"{{ block('widget_attributes') }}></div>
    {% endspaceless %}
{% endblock google_recaptcha_widget %}
