{% set order_number = order.id %}
{% set name = order.name %}
{% set type = order.types %}
{% set pages = order.pages %}
{% set kind = order.kind.name %}
{% set finish_date = order.finishdate|date('d.m.Y') %}
{% set priority = order.priority.name %}
{% set delivery = order.getFormatName(order.format) %}
{% set email = order.clientemail %}
{% set address = order.address %}
{% set price = order.endPrice %}


{{ message|replace({'%order_number%': order_number, '%name%': name, '%type%': type, '%pages%': pages, '%kind%': kind, '%finish_date%': finish_date, '%priority%': priority, '%delivery%': delivery, '%email%': email, '%address%': address, '%price%': price})|raw }}