{% extends '::frontend.html.twig' %}

{% block title %}FAQ - {{ parent() }}{% endblock %}
{% block description %}Najczęściej zadawane pytania{% endblock %}

{% block header %}
    <header class="header faq subpage-top">
        <div class="container">
            <div class="nav-section">
                <div class="brand">
                    <a href="{{ path('ls_core_homepage') }}">
                        <img src="/bundles/lscore/front/images/logo.png" alt="alt" />
                        <img class="mobile" src="/bundles/lscore/front/images/logo-mobile.png" alt="alt" />
                    </a>
                </div>
                <nav class="navbar navigation navbar-default" role="navigation">
                    <div class="navbar-header">
                        <a class="navbar-brand logo" href="{{ path('ls_core_homepage') }}"></a>
                    </div>
                    <div class="collapsed-nav-trigger" id="nav-trigger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="collapse navbar-collapse" id="header-navbar-collapse">
                        <div class="inside-container">
                            <a href="#" class="collapsed-close-btn" id="close-nav"><i class="fa fa-times" aria-hidden="true"></i></a>
                            {{ knp_menu_render(menuTop, {'template': 'LsCoreBundle:Backend:menu.html.twig'}) }}
                        </div>
                    </div>
                </nav>
                <a href="{{ path('ls_core_homepage') }}" class="back-to-homepage-btn filled-button">
                    Wróć do strony głównej
                    <p>Wróć do strony głównej</p>
                </a>
                <a href="{{ path('ls_core_homepage') }}" class="close-btn">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </header>
{% endblock %}

{% block content %}
    <div class="container subpage faq">
        <h1>FAQ <span>(najczęściej zadawane pytania)</span></h1>
        <div class="faq-content">
            {% for category in categories %}
            {% if category.faq is not empty %}
                <h3 class="category-name">{{ category.title }}</h3>
            {% endif %}
            <ul class="unstyled">
                {% for faq in faqs %}
                    {% if faq.category.id == category.id %}
                    <li>
                        <div class="inline-flex open-faq">
                            <i class="fa fa-question-circle" aria-hidden="true"></i><p>{{ faq.title }}</p><i class="fa fa-plus faq-trigger" aria-hidden="true"></i>
                        </div>
                        <div class="content">{{ faq.content|raw }}</content>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}